.wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .traffic-light-container {
    background-color: #585F68;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
    box-shadow: -20px 0px 0px 0px #555555;
    transition: background-color 1s;
  }
  
  .traffic-light {
    --size: 120px;
    background-color: #555;
    border-radius: var(--size);
    height: var(--size);
    width: var(--size);
  }
  